#primary_nav
{
    display: inline-block;
    list-style: none;

    width: 160px;

    margin-top: 10px;

    vertical-align: top;
}

#primary_nav .primary_nav_item 
{
    border-bottom: 1px solid #ccc;
    display: block;
    margin: 2px;

    text-align: left;
    padding: 2px 3px 2px 3px;
    font-size: 13px;

    cursor: pointer;
}

#primary_content {
    display: inline-block;
    width: 650px;
    height: 200px;
    
    margin-top: 10px;
    margin-left: 10px;

    border: 1px;
    border-style: solid;
    border-color: #c1c1c1;
    background-color: #ffffff;

    vertical-align: top;
}

#primary_content .maintitle {
    display: block;
    background-color: #3D963A;
    color: #ffffff;

    height: 30px;
    line-height: 30px;
    font-size: 18px;
    font-weight: 400;

    margin: 3px;
    text-indent:10px;
}

#primary_content .list_title {
    font-size: 12px;
    font-weight: 600;

    margin: 10px;
}

#primary_content .list {
    padding-inline-start: 40px;
}

#primary_content .list .item {
    display: list-item;
    font-size: 10px;
    margin-bottom: 10px;
}