#primary_content
{
    border: 1px;
    border-style: solid;
    border-color: #c1c1c1;
    
    background-color: #ffffff;

    margin-top: 3px;
}

#primary_content .subtitle {
    font-size: 13px;
    font-weight: 600;

    margin: 10px;
}

#primary_content .home_subtitle {
    font-size: 12px;
    color: #72af2c;

    margin-top: 10px;
    margin-left: 10px;
}

#primary_content .news_content {
    vertical-align: top;

    font-size: 12px;
    line-height: 20px;

    margin-left: 10px;
    margin-top: 10px;
}

#primary_content .news_content .news_label {
    display: inline-block;
    padding: 0px 6px;
    background-color: #66a51e;
    border-radius: 25px;

    color: #fff;
    font-size: 10px;
}

#primary_content .people_item {
    margin-top: 10px;
}

#primary_content .photo {
    width: 154px;
    height: 200px;

    margin-left: 20px;
}

#primary_content .people_content {
    display: inline;
    float: right;

    width:420px;

    font-size: 12px;

    line-height: 24px;
}

#primary_content .people_content .people_content_name {
    color: #72af2c;
    font-weight: 600;
}

#primary_content .people_content .people_content_title {
    font-size: 10px;
}

#primary_content .people_content strong {
    display: inline;
}

#primary_content .people_content .people_content_position {
    display: inline;
}

#primary_content .people_content .people_content_homepage {
    text-decoration: none;
    color: #000000;
}

#primary_content .people_content .people_content_homepage:hover {
    color: #72af2c;
}

#primary_content .people_content .people_content_email {
    display: inline;
}

#primary_content .people_content .people_content_interest {
    display: inline;
}

#primary_content .alumni_year {
    font-size: 10px;
    font-weight: 600;

    margin: 10px 16px;
}

#primary_content .alumni_button {
    display: block;

    font-size: 14px;
    font-weight: 200;
    color: #3D963A;

    max-width: 200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#primary_content .alumni_button:hover {
    cursor: pointer;
    text-decoration: underline;
}

#footer_content {
    position: relative;

    padding: 10px 20px;
    border: 1px solid#c1c1c1;
    font-size: 12px;
}

#footer_content #footer_logo {
    width:100px;
    height: 90px;
    
    position: absolute;
    top: 10px;
    right: 10px;
}

#footer_content a{
    color: #72af2c;
    text-decoration: none;
}

#footer_content a:hover{
    text-decoration: underline;
}